:global .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 0.625rem;
}

:global .card-container > .ant-tabs-card > .ant-tabs-bar {
  margin-bottom: 0;
}
